.highlight {
  background-color: #faf9f9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin: 0;
}

.highlighter-rouge {
  color: #87314e;
  font-weight: 400;
  border: 1px solid #607D8B;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 0.1rem 0.5rem;
}

.highlight .hll {
  background-color: #ffc;
}

.highlight .c {
  color: #999;
}

/* Comment */
.highlight .err {
  color: #a00;
  background-color: #faa;
}

/* Error */
.highlight .k {
  color: #069;
}

/* Keyword */
.highlight .o {
  color: #555;
}

/* Operator */
.highlight .cm {
  color: #09f;
  font-style: italic;
}

/* Comment.Multiline */
.highlight .cp {
  color: #099;
}

/* Comment.Preproc */
.highlight .c1 {
  color: #999;
}

/* Comment.Single */
.highlight .cs {
  color: #999;
}

/* Comment.Special */
.highlight .gd {
  background-color: #fcc;
  border: 1px solid #c00;
}

/* Generic.Deleted */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
.highlight .gr {
  color: #f00;
}

/* Generic.Error */
.highlight .gh {
  color: #030;
}

/* Generic.Heading */
.highlight .gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}

/* Generic.Inserted */
.highlight .go {
  color: #aaa;
}

/* Generic.Output */
.highlight .gp {
  color: #009;
}

/* Generic.Prompt */
/* Generic.Strong */
.highlight .gu {
  color: #030;
}

/* Generic.Subheading */
.highlight .gt {
  color: #9c6;
}

/* Generic.Traceback */
.highlight .kc {
  color: #069;
}

/* Keyword.Constant */
.highlight .kd {
  color: #069;
}

/* Keyword.Declaration */
.highlight .kn {
  color: #069;
}

/* Keyword.Namespace */
.highlight .kp {
  color: #069;
}

/* Keyword.Pseudo */
.highlight .kr {
  color: #069;
}

/* Keyword.Reserved */
.highlight .kt {
  color: #078;
}

/* Keyword.Type */
.highlight .m {
  color: #f60;
}

/* Literal.Number */
.highlight .s {
  color: #d44950;
}

/* Literal.String */
.highlight .na {
  color: #4f9fcf;
}

/* Name.Attribute */
.highlight .nb {
  color: #366;
}

/* Name.Builtin */
.highlight .nc {
  color: #0a8;
}

/* Name.Class */
.highlight .no {
  color: #360;
}

/* Name.Constant */
.highlight .nd {
  color: #99f;
}

/* Name.Decorator */
.highlight .ni {
  color: #999;
}

/* Name.Entity */
.highlight .ne {
  color: #c00;
}

/* Name.Exception */
.highlight .nf {
  color: #c0f;
}

/* Name.Function */
.highlight .nl {
  color: #99f;
}

/* Name.Label */
.highlight .nn {
  color: #0cf;
}

/* Name.Namespace */
.highlight .nt {
  color: #2f6f9f;
}

/* Name.Tag */
.highlight .nv {
  color: #033;
}

/* Name.Variable */
.highlight .ow {
  color: #000;
}

/* Operator.Word */
.highlight .w {
  color: #bbb;
}

/* Text.Whitespace */
.highlight .mf {
  color: #f60;
}

/* Literal.Number.Float */
.highlight .mh {
  color: #f60;
}

/* Literal.Number.Hex */
.highlight .mi {
  color: #f60;
}

/* Literal.Number.Integer */
.highlight .mo {
  color: #f60;
}

/* Literal.Number.Oct */
.highlight .sb {
  color: #c30;
}

/* Literal.String.Backtick */
.highlight .sc {
  color: #c30;
}

/* Literal.String.Char */
.highlight .sd {
  color: #c30;
  font-style: italic;
}

/* Literal.String.Doc */
.highlight .s2 {
  color: #c30;
}

/* Literal.String.Double */
.highlight .se {
  color: #c30;
}

/* Literal.String.Escape */
.highlight .sh {
  color: #c30;
}

/* Literal.String.Heredoc */
.highlight .si {
  color: #a00;
}

/* Literal.String.Interpol */
.highlight .sx {
  color: #c30;
}

/* Literal.String.Other */
.highlight .sr {
  color: #3aa;
}

/* Literal.String.Regex */
.highlight .s1 {
  color: #c30;
}

/* Literal.String.Single */
.highlight .ss {
  color: #fc3;
}

/* Literal.String.Symbol */
.highlight .bp {
  color: #366;
}

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #033;
}

/* Name.Variable.Class */
.highlight .vg {
  color: #033;
}

/* Name.Variable.Global */
.highlight .vi {
  color: #033;
}

/* Name.Variable.Instance */
.highlight .il {
  color: #f60;
}

/* Literal.Number.Integer.Long */
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

/* = = = = = = = = = = Main Styles = = = = = = = = = = */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #3e3e40;
  margin: 0;
  background-color: #fff;
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #311e3e;
  font-weight: 400;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #87314e;
}

blockquote {
  border-left: 3px solid #311e3e;
  padding-left: 18px;
  margin-left: 21px;
  font-style: italic;
  color: #311e3e;
}

pre {
  padding: 16px 32px;
  overflow-x: auto;
}

pre code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.flex-container.active {
  -webkit-transform: translate3d(300px, 0, 0);
          transform: translate3d(300px, 0, 0);
}

.flex-container.active::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}

::-moz-selection {
  background: rgba(49, 30, 62, 0.7);
  color: #ffffff;
}

::selection {
  background: rgba(49, 30, 62, 0.7);
  color: #ffffff;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.clearfix::before {
  clear: both;
}

/* = = = = = = = = = = Header Styles = = = = = = = = = = */
.main-header {
  font-family: 'Lato', sans-serif;
  padding: 15px 0;
  background-color: #fff;
  -webkit-box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.3);
}

.main-header .header-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .logo {
  width: 50%;
  text-align: center;
}

.main-header .logo a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 27px;
  font-weight: 300;
  color: #311e3e;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: #fff;
  padding: 25px 30px;
  -webkit-transform: translate3d(-300px, 0, 0);
          transform: translate3d(-300px, 0, 0);
}

.main-nav ul {
  padding: 15px 0 0;
  margin: 0;
  list-style: none;
}

.main-nav ul li {
  border-bottom: 1px solid #d9d9d9;
}

.main-nav ul li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  color: #311e3e;
}

.main-nav ul li a:hover {
  opacity: .8;
  color: #87314e;
}

.menu-icon-container {
  width: 25%;
  text-align: left;
}

.search-icon-container {
  width: 25%;
  text-align: right;
}

.menu-icon,
.menu-icon-close,
.search-icon a,
.search-icon-close {
  cursor: pointer;
  font-size: 18px;
  color: #311e3e;
  -webkit-transition: all .4s;
  transition: all .4s;
  padding: 10px;
}

.menu-icon:hover,
.menu-icon-close:hover,
.search-icon a:hover,
.search-icon-close:hover {
  opacity: .8;
}

/* = = = = = = = = = = Search Styles = = = = = = = = = = */
.search-box {
  padding-top: 40px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translate(0, -100%) scale(0, 0);
      -ms-transform: translate(0, -100%) scale(0, 0);
          transform: translate(0, -100%) scale(0, 0);
}

.search-grid {
  width: 60%;
  margin: 0 auto;
}

.search-form {
  margin-bottom: 15px;
}

.search-form .search {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  font-size: 21px;
  color: #3e3e40;
}

.results-search {
  list-style: none;
  overflow: auto;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.results-search li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}

.results-search li a {
  text-decoration: none;
  color: #3e3e40;
}

.results-search li a:hover {
  color: #87314e;
  opacity: .8;
}

.search-box.search-active {
  -webkit-transform: translate(0, 0) scale(1, 1);
      -ms-transform: translate(0, 0) scale(1, 1);
          transform: translate(0, 0) scale(1, 1);
}

.icon-close-container {
  position: absolute;
  top: 0;
  right: 0;
}

/* = = = = = = = = = = Post-Card Styles = = = = = = = = = = */
.post-card-box {
  margin: 100px 0 100px;
  padding: 0;
}

.post-card-box li {
  position: relative;
  list-style: none;
  float: left;
  width: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.post-card-box li:hover {
  opacity: 0.9;
}

.post-card {
  position: relative;
}

.post-card .post-card-image {
  display: block;
  width: 100%;
  min-height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.post-card .post-card-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}

.post-card .post-card-body {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.post-card .post-card-body .post-card-link {
  text-decoration: none;
  display: block;
}

.post-card .post-card-body .post-card-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  margin: 0 0 10px;
}

.post-card .post-card-body .post-card-title:hover {
  opacity: .8;
}

.post-card .post-card-body .tag {
  text-decoration: none;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
}

.post-card .post-card-body .tag:hover {
  text-decoration: underline;
}

/* = = = = = = = = = = Pagination Styles = = = = = = = = = = */
.pagination {
  margin-bottom: 30px;
}

.pagination .previous {
  float: left;
}

.pagination .next {
  float: right;
}

.pagination .previous, .pagination .next {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #3e3e40;
}

.pagination .previous:hover, .pagination .next:hover {
  opacity: .8;
  color: #87314e;
}

/* = = = = = = = = = = Footer Styles = = = = = = = = = = */
.main-footer {
  padding: 15px 0;
  background-color: #efefef;
}

.main-footer .copyright {
  text-align: center;
  color: #311e3e;
  font-size: 16px;
}

/* = = = = = = = = = = Post-Page Styles = = = = = = = = = = */
.page-image {
  position: relative;
  padding: 0;
  margin: 0;
  height: 500px;
  background-color: #fff;
  overflow: hidden;
}

.page-image .cover-image {
  height: 100%;
  width: 100%;
}

.page-content {
  margin-top: -80px;
  margin-bottom: 100px;
  background-color: #fff;
  padding: 20px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.header-page {
  position: relative;
  margin-bottom: 30px;
}

.header-page h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 0 0 20px;
  color: #311e3e;
}

.header-page .page-date {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
}

.page-footer {
  margin-top: 30px;
  padding-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer .page-tag,
.page-footer .page-share {
  text-transform: uppercase;
  font-size: 12px;
  color: #311e3e;
}

.page-footer .page-tag {
  margin-bottom: 10px;
}

.page-footer .page-tag a {
  text-decoration: none;
  color: #87314e;
}

.page-footer .page-tag a:hover {
  opacity: .8;
}

.page-footer .page-share a {
  text-decoration: none;
  color: #999999;
  margin-left: 10px;
  font-size: 18px;
}

.page-footer .page-share a:hover {
  opacity: .8;
}

.recent-box {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.recent-box .recent-title {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #311e3e;
  text-align: center;
  margin: 0 0 30px;
}

.recent-box .recent-list .recent-item {
  position: relative;
  display: inline-block;
  width: 24%;
  height: 150px;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.recent-box .recent-list .recent-item span {
  position: absolute;
  font-size: 12px;
  left: 2.5%;
  bottom: 10%;
  color: #fff;
}

.recent-box .recent-list .recent-item:hover {
  opacity: 0.8;
}

.newsletter {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.newsletter .newsletter-title {
  font-weight: 400;
}

.newsletter .form-container {
  padding: 30px;
  background-color: #efefef;
  width: 720px;
  max-width: 100%;
  margin: 0 auto;
}

.newsletter .form-container p {
  margin: 0;
}

.newsletter .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

.newsletter .newsletter-box {
  position: relative;
  max-width: 100%;
  margin: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.newsletter .newsletter-box .email-input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 40px;
  padding: 8px 10px;
  width: 100%;
  max-width: 100%;
  color: #3e3e40;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 14px;
  outline: none;
}

.newsletter .newsletter-box .subscribe-btn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: #311e3e;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.newsletter .newsletter-box .subscribe-btn:hover {
  background-color: #87314e;
}

/* = = = = = = = = = = Author Box Styles = = = = = = = = = = */
.author-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.author-box .author-img {
  width: 120px;
  height: 120px;
  margin-right: 30px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
}

.author-box .author-desc h2 {
  margin: 0 0 10px;
}

.author-box .author-desc p {
  margin: 0 0 10px;
}

.author-box .author-desc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.author-box .author-desc li {
  display: inline-block;
  margin-left: 10px;
}

.author-box .author-desc li:first-child {
  margin-left: 0;
}

.author-box .author-desc li a {
  font-size: 18px;
  color: #3e3e40;
}

.author-box .author-desc li a:hover {
  opacity: .8;
}

/* = = = = = = = = = = About Page Styles = = = = = = = = = = */
.small-wrapper {
  width: 700px;
  max-width: 90%;
  margin: 0 auto;
}

.about-container {
  margin: 100px 0 100px;
}

.about-header {
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.about-header:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  height: 1px;
  width: 80px;
  background-color: #311e3e;
}

.about-header .author-image-container {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 30px;
}

.about-header .subtitle {
  color: #311e3e;
  font-weight: 300;
  margin: 0;
}

.about-body .contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.about-body .contact-list li {
  display: inline-block;
  margin-left: 10px;
}

.about-body .contact-list li:first-child {
  margin-left: 0;
}

.about-body .contact-list li a {
  display: block;
  color: #999999;
  font-size: 21px;
  text-decoration: none;
  padding: 5px;
  -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
}

.about-body .contact-list li a:hover {
  color: #87314e;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

/* = = = = = = = = = = Tags Styles = = = = = = = = = = */
.blog-tags {
  margin: 100px 0 100px;
}

.blog-tags h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 0 0 30px;
  color: #311e3e;
}

.blog-tags .tags {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-tags .tags li a {
  display: inline-block;
  color: #311e3e;
}

.blog-tags .tags li a:hover {
  opacity: .8;
}

.blog-tags .tag-list span a {
  display: inline-block;
  color: #87314e;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
}

.blog-tags .tag-list span a:hover {
  text-decoration: underline;
  opacity: .8;
}

.blog-tags .tag-list small {
  color: #311e3e;
}

/* = = = = = = = = = = Animate Styles = = = = = = = = = = */
.main-header,
.page-image,
.page-content,
.about-container,
.post-card-box {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.main-header,
.page-image {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.page-content,
.about-container,
.post-card-box {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* = = = = = = = = = = Media = = = = = = = = = = */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .main-header .logo a {
    font-size: 24px;
  }
  .post-card-box li {
    width: 100%;
    margin-bottom: 20px;
  }
  .post-card-box li:last-child {
    margin-bottom: 0;
  }
  .recent-box .recent-list .recent-item {
    position: relative;
    display: inline-block;
    width: 49%;
    height: 150px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
  }
  .recent-box .recent-list .recent-item span {
    position: absolute;
    font-size: 12px;
    left: 2.5%;
    bottom: 10%;
    color: #fff;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    max-width: 95%;
  }
  .page-content {
    margin-top: -50px;
    padding: 15px;
  }
  .header-page {
    margin-bottom: 20px;
  }
  .header-page h1 {
    font-size: 27px;
    margin: 0 0 10px;
  }
  .header-page .page-date {
    font-size: 14px;
  }
  .main-header .logo a {
    font-size: 21px;
  }
  .menu-icon,
  .menu-icon-close,
  .search-icon,
  .search-icon-close {
    font-size: 16px;
  }
  .page-image {
    height: 380px;
  }
  .recent-box .recent-list .recent-item {
    position: relative;
    display: inline-block;
    width: 99%;
    height: 150px;
    margin-left: 0.5%;
    margin-bottom: 0.5%;
  }
  .recent-box .recent-list .recent-item span {
    position: absolute;
    font-size: 12px;
    left: 2.5%;
    bottom: 10%;
    color: #fff;
  }
  .newsletter .newsletter-box .subscribe-btn {
    width: 80px;
    height: 40px;
    font-size: 12px;
  }
  .about-body .contact-list li {
    display: inline-block;
    margin-left: 5px;
  }
  .about-body .contact-list li:first-child {
    margin-left: 0;
  }
  .about-body .contact-list li a {
    display: block;
    color: #999999;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
  }
  .about-body .contact-list li a:hover {
    color: #87314e;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
  }
  .author-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .author-box .author-img {
    height: 100px;
    width: 100px;
    margin: 0 0 10px;
  }
  .author-box .author-desc h2 {
    margin: 0 0 10px;
  }
  .author-box .author-desc p {
    margin: 0 0 15px;
  }
}
